<main class="main">
  <div class="content">
    <div id="calculator" class="calc">
      <div class="top-part">
        <div class="back-toppart"></div>
      </div>
      <div class="window">
        <div class="result">
          <input class="readout" readonly disabled [(ngModel)]="valueDisplay" maxlength="10">
          <input class="placehold" readonly disabled [placeholder]="placeholder">
        </div>
        <div class="plane"></div>
      </div>
      <div class="section one">
        <button class="key" (click)="clearTotal()"><div class="key_before">СП</div></button>
        <button class="key"><div class="key_before">П+</div></button>
        <button class="key"><div class="key_before">ИП</div></button>
        <button class="key_red" (click)="clearTotal()"><div class="key_before_red">Сх</div></button>
      </div>
      <div class="section two">
        <button class="key" (click)="print(7)"><div class="key_before">7</div></button>
        <button class="key" (click)="print(8)"><div class="key_before">8</div></button>
        <button class="key" (click)="print(9)"><div class="key_before">9</div></button>
        <button class="key" (click)="print(4)"><div class="key_before">4</div></button>
        <button class="key" (click)="print(5)"><div class="key_before">5</div></button>
        <button class="key" (click)="print(6)"><div class="key_before">6</div></button>
        <button class="key" (click)="print(1)"><div class="key_before">1</div></button>
        <button class="key" (click)="print(2)"><div class="key_before">2</div></button>
        <button class="key" (click)="print(3)"><div class="key_before">3</div></button>

        <button class="key_long" (click)="print(0)"><div class="key_before_long">0</div></button>
        <button class="key" (click)="addDecimal()"><div class="key_before">,</div></button>
      </div>
      <div class="section three">
        <button class="key" (click)="add()"><div class="key_before">+</div></button>
        <button class="key" (click)="getPercentage()"><div class="key_before">%</div></button>
        <button class="key" (click)="subtract()"><div class="key_before">-</div></button>
        <button class="key" (click)="changePositivity()"><div class="key_before">/-/</div></button>
        <button class="key_vertical" (click)="equal()"><div class="key_before_vertical">=</div></button>
        <button class="key" (click)="multiply()"><div class="key_before">×</div></button>
        <button class="key" (click)="divide()"><div class="key_before">÷</div></button>
      </div>
      <div class="btm-part"></div>
      <p class="history-help-text" *ngIf="hasHistory">Use the up and down arrow keys to view history</p>
    </div>
  </div>
</main>
